<!DOCTYPE html>
<html>

  {% include head.html %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css"/>

  <style>
    .page-content {
      background: #292f33;
      color: white;
    }
  </style>
  <body>

    {% include header.html %}

    <div class="page-content">
        <div class="photos-wrapper">
            {{ content }}
        </div>
    </div>

    {% include footer.html %}

    <script src="https://cdn.jsdelivr.net/npm/glightbox/dist/js/glightbox.min.js"></script>
    <script>
      document.querySelectorAll('.photos-wrapper img').forEach(function(img) {
        var a = document.createElement('a');
        a.href = img.src;
        a.className = 'glightbox';
        img.parentNode.insertBefore(a, img);
        a.appendChild(img);
      });
      GLightbox();
    </script>

  </body>
</html>
